<% @secrets.each do |secret| %>
	<%= secret.content %>
	<%= secret.likes.count %> likes
	<% if secret.users_liked.exclude?(current_user) %>
		<%=form_tag("/likes/#{secret.id}", method: "create") do %>
			<%=submit_tag("Like") %>
		<% end %>
	<% else %>
		<%= form_tag("/likes/#{secret.id}", method: "delete") do %>
		<%= submit_tag("Unlike") %>
		<% end %>
	<% end %>
	<% if @user.id == secret.user_id %>
		<%= form_for(secret, method: "delete") do |f| %>
			<%=f.submit "Delete" %>
		<% end %>
	<% end %>
	<hr>
<% end %>
<a href = '/users/<%=current_user.id %>'>User Profile</a>